.app-title {
    font-family: 'Roboto', sans-serif;
}

.barman-img {
    height: 250px;
    width: auto;
}

@media (max-width: 1024px) or (max-height: 760px) {
    .barman-img {
        height: 120px;
        width: auto;
    }
    .app-title {
        font-size: 16px;
    }
}