.cocktails-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-content: space-between;
    column-gap: 1rem;
    row-gap: 1rem;
    font-family: 'Roboto', sans-serif;
}

.cocktail-button {
    padding: 1rem 3rem 1rem 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    border: 0;
    background-color: #CDDCDA;
    border-radius: 0.5rem;
    cursor: pointer;
}

.cocktail-button:hover {
    color:#00A69F;
}